@import "tailwindcss";
@plugin "daisyui";

@theme {
    --font-display: "Space Grotesk", sans-serif;
    --font-body: "Inter", sans-serif;

    --color-bg-primary: #0B0F1A;
    --color-bg-surface: #111827;
    --color-bg-secondary: #0F172A;

    --color-accent-primary: #38BDF8;
    --color-accent-secondary: #6366F1;
    --color-accent-highlight: #22D3EE;

    --color-text-body: #CBD5E1;
    --color-text-muted: #94A3B8;
}

:root {
    background-color: var(--color-bg-primary);
    color: var(--color-text-body);
    font-family: var(--font-body);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-display);
    color: white;
}